.asteroid{
    width:40%;
    margin-left: 200px;
}
.big {
    color:blue;

}
p.big{
    background-color: yellow;
}
div.big, #b325, .b326{
    font-weight: bold;
}
#b325, .b326{
    border: solid 1px green;
}
.b326:hover, #b325:hover{
    background-color: coral;
}